/* General Styles */
body {

    margin: 0;
    padding: 0;
    background-image: url("assets/background.jpg");
    background-repeat: no-repeat;
    background-color: #f0f0f0;
    font-family: cursive;
}

/* Top Navigation Bar */
.topnav {

    background-color: white;
    overflow: hidden;
    margin: 1%;
    padding: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.topnav .logo {

    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.topnav .logo:hover {

    color: rgb(68, 68, 68);
}

.topnav a {

    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

/* Content Area */
.content {

    background-color: white;
    margin: 1%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.content .header {

    text-align: center;
}

.header h1 {
    
    font-size: 48px;
    color: #ff5722;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

button {

    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border: black 2px solid;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
